
body{
    background-color: palevioletred;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.pw-container{
    background-color: rgb(118, 17, 51);
    max-width: 400px;
   
    box-shadow:0 4px 10px rgba(0, 0, 0, .5);
}

.pw{
    background-color: rgb(159, 56, 90);
    display: flex;
    height: 70px;
    width: 90%;
    overflow:auto;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
}
.pw-header{
    padding: 1rem;
}

.pw-body{
    padding: 0 1rem 1rem;
}

.pw button{
    background-color:rgb(94, 20, 80);
    font-family: inherit;
    padding: .25rem;
    border: none;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    opacity: 0;
    transition: opacity .2s ease, transform .2s ease;
}

.pw:hover button{
    opacity: 1;
    transform: translate(0, 0%);
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
    color: #eee;
}

.generate{
    display:block;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #248F6C;
    color:  rgb(118, 17, 51);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}